body{
    background-image: url(Kreivalogo.png) !important;
    background-color: black !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35em;
    background-position-x: 47%;
    background-position-y: 9rem;
    overflow: hidden;
}
#image{
    margin-top: 3rem;
    margin-left: 16rem;
}
.parent{
    position: relative;
    margin-left: -8rem;
    margin-top: -9.4rem;
}
.center {
  margin: auto;
  width=50%;
  padding: 10px;
}

.over-img{
    position: absolute;
    top: 19.5%;
    left: 38.5%;
    display: none;
}
.over-img2{
    position: absolute;
    top: 18%;
    left: 42%;
    display: none;
}
.over-img3{
    position: absolute;
    top: 18%;
    left: 51%;
    display: none;
}
.over-img4{
    position: absolute;
    top: 19%;
    left: 55.5%;
    display: none;
}
#div1{
    margin-top: 0.6rem;
    margin-left: 33rem;
}
#btn{
    margin-left: 36rem;
}
#kreiva{
    height: 250;
    margin-top: 5.5rem;
}
.fade-in {
animation: fadeIn ease 8s;
-webkit-animation: fadeIn ease 8s;
-moz-animation: fadeIn ease 8s;
-o-animation: fadeIn ease 8s;
-ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}