body{
    background-color: black !important;
}
#image{
    margin-top: 3rem;
    margin-left: 16rem;
}
.parent{
    position: relative;
}
.center {
  margin: auto;
  width=50%;
  padding: 10px;
}

.over-img{
    position: absolute;
    top: 27%;
    left: 78%;
    display: none;
}
.over-img2{
    position: absolute;
    top: 25.5%;
    left: 72.5%;
    display: none;
}
.over-img3{
    position: absolute;
    top: 26%;
    left: 60%;
    display: none;
}
.over-img4{
    position: absolute;
    top: 28%;
    left: 55.5%;
    display: none;
}
#div1{
    margin-top: 0.6rem;
    margin-left: 33rem;
}
body{
    overflow: hidden;
}

#btn{
    margin-left: 36rem;
}
#kreiva{
    height: 250;
    margin-top: 5.5rem;
}